# put here by ansible

Port 22
AllowUsers gregf ansible

PasswordAuthentication no
ChallengeResponseAuthentication no
PermitRootLogin no

Banner /etc/issue
PrintMotd no

AcceptEnv LANG LC_*
Subsystem sftp /usr/libexec/openssh/sftp-server
UsePAM yes
X11Forwarding yes
UsePrivilegeSeparation yes
Protocol 2
LogLevel INFO
TCPKeepAlive yes

